/*contact*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}

/* Navigation Bar */
.nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
    list-style: none;
    margin: 0;
}

.nav li {
    margin: 0 15px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav a:hover {
    text-decoration: underline;
}
.contact {
    padding: 40px 20px;
    background-color: hsl(58, 96%, 56%);
    color: #333;
    text-align: center;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}
